
body {
    overflow: hidden;
    background-color: whitesmoke;
}

main {
    border: 1px solid aliceblue;
    height: 95vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-wrapper {
    font-family: 'Manrope', sans-serif;
    font-size: 200%;
}